---
import Layout from "@layouts/Layout.astro";
import CaseStudyArticle from "@components/CaseStudyArticle.astro";
import HeroBgWrapper from "@components/helpers/HeroBgWrapper.astro";
---

<Layout>
  <HeroBgWrapper imagePath="test.png">
    <header>
      <p>Case Studies</p>
      <h1>Taxes & Efficiency</h1>
    </header>
  </HeroBgWrapper>

  <CaseStudyArticle />
</Layout>
