---
//@ts-nocheck
import experienceData from "@data/experience.json";
console.log(experienceData);
---

<section class="experience">
    <div class="content">
    <div class="text">
        <p class="caps">Experience</p>
        <h1>{experienceData.heading}</h1>
        <p>{experienceData.subheading}</p>
    </div>
    </div>

</section>

<style>
    .experience {

        padding: var(--sectionPad);
        grid-column:  1 / 5;

        display: grid;
        grid-template-columns: subgrid;
        background-color: #FBC336;
        --textcol1: var(--primary03);

        .content {
            grid-column: 2 / 4;
        }
    }

</style>

<script> 

</script>