---
//@ts-nocheck
import servicesData from "@data/services.json";
console.log(servicesData);
---

<ul>
  {
    servicesData.services.map((service) => (
      <li>
        <h2>{service.title}</h2>
        <p>{service.description}</p>
        <a href="#0">{service.buttonText}</a>
      </li>
    ))
  }
</ul>

<style>
  @layer components {
    li {
    }
  }
</style>
