---
import "@styles/main.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - AskExperts</title>
    <style is:inline>
      @layer reset, global, components, overrides;

      #logInScreen {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: transparent;
        backdrop-filter: blur(0);
        z-index: 20;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        transition: all 0.45s ease-in-out;
        .inner {
          display: flex;
          flex-direction: column;
          padding: var(--space-l) var(--space-xl);

          background-color: var(--primary03);
          color: var(--secondary02);
          gap: var(--space-xs);
          border-radius: 30px;
          transform: scale(0);
          transition: all 0.2s ease-in-out;
          opacity: 60%;
        }
      }
      #logInScreen.active {
        /* display: flex; */
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(16px);
        .inner {
          transform: scale(1);
          opacity: 100%;
        }
      }
      header {
        display: flex;
        padding: var(--space-m);
        /* justify-content: space-between; */
        justify-content: center;
        background-color: rgba(27, 27, 27, 0.91);
        backdrop-filter: blur(10.5px);
        color: var(--secondary02);
        align-items: center;

        .inner {
          display: flex;
          width: var(--headerInnerWidth);
          max-width: var(--headerInnerWidth);
          justify-content: space-between;
          align-items: center;
          flex-shrink: 0;
          .title {
            font-size: var(--step-1);
            margin: 0;
          }
          ul.menu-bar {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--space-l);
            li {
              list-style: none;
              a {
                color: var(--secondary02);
                text-decoration: none;
              }
            }
          }
        }
      }

      main {
        display: grid;
        grid-template-columns: var(--padGrid);
        & > * {
          grid-column: 2 / 4;
        }
      }
    </style>
  </head>
  <body>
    <div id="logInScreen" class="" style="display: none">
      <div class="inner">
        <h2>Dashboard Login</h2>
        <input type="text" placeholder="Username" />
        <input type="password" placeholder="Password" />
      </div>
    </div>
    <header>
      <div class="inner">
        <a class="title" href="">
          AskExperts <!-- Titel Styling -->
        </a>
        <ul class="menu-bar">
          <li>
            <a href="#"> Home </a>
          </li>
          <li>
            <a href="#"> Case Study </a>
          </li>
          <li>
            <a href="#"> Team </a>
          </li>
          <li>
            <a href="#"> About </a>
          </li>
        </ul>
        <button class="cta2" id="logIn">Login</button>
      </div>
    </header>
    <main>
      <slot />
    </main>
    <script is:inline>
      const logIn = document.getElementById("logIn");
      const logInScreen = document.getElementById("logInScreen");
      
      // logIn.addEventListener("click", () => {
      //   console.log("logIn pressed");
      //   logInScreen.style.display = "flex";
      //   requestAnimationFrame(() => {
      //     logInScreen.classList.add("active");
      //     logInScreen.addEventListener("transitionend", () => {
      //       logInScreen.addEventListener("click", () => {
      //         logInScreen.classList.remove("active");
      //         logInScreen.addEventListener("transitionend", () => {
      //           logInScreen.style.display = "none";
      //         });
      //       });
      //     });
      //   });
      // });

      logIn.addEventListener("click", () => {
        console.log("logIn pressed");
        logInScreen.style.display = "flex";
        requestAnimationFrame(() => {
          logInScreen.classList.add("active");
        });
      });
      logInScreen.addEventListener("click", () => {
        logInScreen.classList.remove("active");
      });
      logInScreen.addEventListener("transitionend", () => {
        if (!logInScreen.classList.contains("active")) {
          logInScreen.style.display = "none";
        }
      });
    </script>
  </body>
  <footer></footer>
</html>

<style></style>
